node_modules/
dist/
styles/css
legacy/node_modules

package-lock.json


### SublimeText ###
*.sublime-workspace


### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# App specific
node_modules/
styles/css/
docs/_book/
.tmp
.idea
npm-debug.log
.build/
lib
.eslintrc
*.orig
react/package-lock.json
components/footage-calculator
components/io-module-custom-login